body{
	background: powderblue;
}
h1{
	text-align: center;
}
nav{
	text-align: center;
}
p.intro{
	text-align: center;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p.kangaroo{
	text-align: center;
}
p.a{
	text-align: center;
}

footer{
	text-align: center;
}